// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.no-scroll .scroll-content{
        overflow: hidden;
}

.sidemenu-item{
    background: #009b88;
    -webkit-text-fill-color: #FFFFFF;
}

.sidemenu-companylogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../assets/image/profilepicture6.png");
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
  vertical-align: middle;
  margin-top: 15px;
}


.sidemenu-username-text{
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  margin-top: 10px;
  -webkit-text-fill-color: #FFFFFF;
}

.sidemenu-useremail-text{
  //display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  -webkit-text-fill-color: #FFFFF0;
}

